//- base.pug
doctype html
html
  head
    title Dance Factory
    block scripts
    block style
  body
 
    nav#navbar
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact Us]
    block content

    footer#footer
        |   2020 &copy; Rishabhcodinganddancing.com. ALL rights reserved